<!doctype html>
<html>
<head>
 <title>Flask Apps</title>
 <style>
  h1 {
    text-align:center;
    margin-top:30px;
    color:blue;
  }
 </style>
</head>

<body style="margin-left:5%;margin-right:5%;">
 <h1><img src="{{url_for('static', filename='Python.gif')}}" /> Flask Apps</h1>
 <ul>
  <li><a href="/flask1" target="_blank">Hello</a></li>
  <li><a href="/flask2" target="_blank">フォーム</a></li>
  <li><a href="/flask3" target="_blank">セッション</a></li>
  <li><a href="/flask4" target="_blank">ファイルアップロード</a></li>
  <li><a href="/flask5" target="_blank">静的なコンテンツ</a></li>
  <li><a href="/flask6" target="_blank">Ajax</a></li>
 </ul>
 <p>&nbsp;</p>
</body>
</html>
